<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300" type="text/css">
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <title>Kode Weather Apps</title>

</head>
<body>
    <div class="container">
        <fieldset>
            <form action="/" method="POST">
                <input type="text" name="city" class="ghost-input" placeholder="Enter a City" required>
                <input type="submit"  class="ghost-button" value="Get Weather">
            </form>

            <% if(weather !==null) { %>
                <p><%= weather %></p>
            <% } %>

            <% if(error !== null) { %>
                <p><%= error %></p>
            <% } %>
        </fieldset>
    </div>
</body>
</html>